RewriteEngine on
RewriteCond %{HTTP_HOST} ^jnsolucoesinformatica.tech$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.jnsolucoesinformatica.tech$
RewriteCond %{REQUEST_URI} !public/ 
RewriteRule (.*) /public/$1 [L]
